<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" [(ngModel)]="libelle" nz-input placeholder="Chercher une pharmacie" />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
  </ng-template><br />
  <br />
  
<nz-table #nzTable [nzData]="pharmacies" [nzScroll]="{ y: '500px' }">
    <thead>
     <tr>
         <th>Nom</th>
         <th>Tèl.</th>
         <th>adresse</th>
         <th>ville</th>
         <th>Actions</th>
     </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pharmacie of pharmacies">
            <td>{{ pharmacie.libelle }}</td>
            <td>+212 {{ pharmacie.telephone}}</td>
            <td>{{ pharmacie.adresse }}</td>
            <td>{{ pharmacie.ville }}</td>
            <td>
                <button nz-button nzGhost nzType="default" nzShape="circle" (click) = "pharmacieDetails(pharmacie.ice)"><i nz-icon nzType="eye" nzTheme="twotone"></i></button>
                <button nz-button nzType="default" nzShape="circle" (click) = "updatePharmacie(pharmacie.ice)" style="margin-left: 10px"><i nz-icon nzType="setting" nzTheme="twotone"></i></button>
                <button
                nz-button
                nzDanger
                nzShape="circle"
                style="margin-left: 10px"
                    nz-popconfirm
                    nzPopconfirmTitle="Êtes-vous sûr de supprimer cette pharmacie ?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="confirm(pharmacie.ice)"
                    (nzOnCancel)="cancel()"
                    >
                    <i nz-icon nzType="delete" nzTheme="fill"></i>
                </button>
            </td>
        </tr>
    </tbody>

</nz-table>
