
<nz-page-header
      class="site-page-header"
      (nzBack)="onBack()"
      nzBackIcon
      nzTitle="Voir les détails de la pharmacie"
      nzSubtitle={{pharmacie.libelle}}
    >
    <nz-page-header-content>
        <nz-descriptions  [nzColumn]="2">
            <nz-descriptions-item nzTitle="Nom" [nzSpan]="1">{{pharmacie.libelle}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="ICE" [nzSpan]="1">{{pharmacie.ice}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Adresse E-mail" [nzSpan]="1"><a href="mailto:{{pharmacie.email}}">{{pharmacie.email}}</a></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Adresse." [nzSpan]="1">{{pharmacie.adresse}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Tel." [nzSpan]="1">+212 {{pharmacie.telephone}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Ville" [nzSpan]="1">{{pharmacie.ville}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Propriétaire" [nzSpan]="1">{{pharmacie.pharmacienId.nom}} {{pharmacie.pharmacienId.prenom}}</nz-descriptions-item>
        </nz-descriptions>
      </nz-page-header-content>
</nz-page-header>
