<nz-layout>
  <nz-sider nzCollapsible nzWidth="250px">
    <div class="sidebar-logo">
      <a href="/dashboard">
        <img src="..\assets\images\logo.svg" alt="logo">
        <h1>PharmaHub</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzOpen nzTitle="Tableau de bord " nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter><a routerLink="/produits">Médicaments</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/pharmacies">Pharmacies</a></li>          
          <li *ngIf="authService.isPharmacien()" nz-menu-item nzMatchRouter><a routerLink="/stock-details">Stock</a></li>
        </ul>
      </li>
      <li *ngIf="!authService.isloggedIn" nz-submenu nzTitle="Espace de compte" nzIcon="lock">
        <ul>
          <li nz-menu-item nzMatchRouter ><a routerLink="/login"><i nz-icon nzType="login" nzTheme="outline"></i> Connexion</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/pharmacien-details/1"><i nz-icon nzType="user" nzTheme="outline"></i> Profile</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/create-pharmacien"><i nz-icon nzType="unlock" nzTheme="outline"></i> S'inscrire</a></li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    
    <nz-header>
      <div nz-row>
        <div nz-col [nzSpan]="1" [nzPush]="15">          
          <nz-badge *ngIf="authService.isPharmacien()" class="nz-button" nzDot (click)="Newnotification('success')"><i nz-icon nzType="notification"></i></nz-badge>
        </div>
        <div nz-col [nzSpan]="1" [nzPush]="16">    
          <a routerLink="/">
            <nz-badge *ngIf="authService.isPharmacien()" [nzCount]="1" style="margin: 0 20px;" >
              <nz-avatar nzIcon="mail" [nzShape]="'square'" style="background-color:#1890ff;"></nz-avatar>
            </nz-badge>
          </a>
        </div>
        <div nz-col [nzSpan]="1" [nzPush]="17">  
          <a routerLink="/">
            <nz-badge [nzCount]="1" style="margin: 0 20px;">
              <nz-avatar nzIcon="wallet" [nzShape]="'square'" style="background-color:#87d068;"></nz-avatar>
            </nz-badge>
          </a>
        </div>
        <div nz-col [nzSpan]="3" [nzPush]="18">  
          <!-- <button nz-button class="nz-button" nzShape="circle" nzSize="large" (click)="UpdateUser()"> -->
            <nz-avatar nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" [nzShape]="'circle'" [nzSize]="40" [nzIcon]="'user'">
              <!-- <img src="assets/images/avatars/thumb-.jpg" class="ng-star-inserted"> -->
            </nz-avatar>
          <!-- </button> -->
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzBordered nzSize="large">
              <li class="profile" nzTitle="SubTitle" *ngIf="authService.isloggedIn" nz-menu-item><span title><i nz-icon nzType="home" nzTheme="outline"></i> Bonjour {{ authService.loggedUser }}</span></li>
              <li class="profile" *ngIf="authService.isloggedIn" nz-menu-item><i nz-icon nzType="user" nzTheme="outline"></i> Profil ></li>
              <li class="profile" *ngIf="authService.isloggedIn" nz-menu-item  routerLink="/update-user" ><i nz-icon nzType="setting" nzTheme="outline"></i> Paramètres</li>
              <li class="profile" *ngIf="!authService.isloggedIn" nz-menu-item routerLink="/login" ><i nz-icon nzType="login" nzTheme="outline"></i> Se connecter</li>
              <li class="profile" *ngIf="authService.isloggedIn" nz-menu-item (click)="onLogOut()" ><i nz-icon nzType="logout" nzTheme="outline"></i> Se déconnecter</li>
            </ul>
          </nz-dropdown-menu>
        </div> 
      </div>   
   </nz-header>
    
    <nz-breadcrumb></nz-breadcrumb>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer >PharmHub ©2021 | Tous droits réservés</nz-footer>
  </nz-layout>
</nz-layout>
