<!-- <nz-table 
#Stocks
nzShowSizeChanger
 [nzData]="stocks"
 [nzScroll]="{ y: '450px' }"
>
  <thead>
    <tr>
      <th nzWidth="20%">Nom</th>
      <th nzWidth="50%">Quantité</th>
      <th nzWidth="20%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of Stocks.data">
      <td >{{stock.id}}</td>
      <td>{{stock.quantity}}</td>
      <td><button nz-button nzType="primary"><i nz-icon nzType="shopping"></i>Commander</button></td>
    </tr>
  </tbody> 
</nz-table> -->

<nz-table #basicTable>
    <thead>
      <tr>
        <th>Médicament</th>
        <th>Quantité</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>APURONE</td>
        <td>0</td>
        <td><button nz-button nzType="primary"><i nz-icon nzType="shopping"></i>Commander</button></td>
      </tr>
      <tr>
        <td>METHOTREXATE BIODIM</td>
        <td>0</td>
        <td><button nz-button nzType="primary"><i nz-icon nzType="shopping"></i>Commander</button></td>
      </tr>
      <tr>
        <td>ERYTHROCINE</td>
        <td>7</td>
        <td><button nz-button nzType="primary"><i nz-icon nzType="shopping"></i>Commander</button></td>
      </tr>
    </tbody>
  </nz-table>