<nz-table 
#Stock
 nzShowSizeChanger
 [nzData]="stock"
 [nzScroll]="{ y: '450px' }"
>
  <thead>
    <tr>
      <th nzWidth="20%">code</th>
      <th nzWidth="50%">ice</th>
      <th nzWidth="10%">Quantity</th>
      <th nzWidth="20%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of Stock.data">
      <!-- <td>{{ stock['id'] | json}}</td> -->
      <td></td>
      <td>{{ stock.quantity }}</td>
      <td><button nz-button nzType="primary"><i nz-icon nzType="plus"></i></button></td>
    </tr>
  </tbody> 
</nz-table>



<nz-table 
#Stock
 nzShowSizeChanger
 [nzData]="stock"
 [nzScroll]="{ y: '450px' }"
>
  <thead>
    <tr>
      <th nzWidth="20%">code</th>
      <th nzWidth="10%">Quantity</th>
      <th nzWidth="20%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of stock">      
      <td *ngFor="let i of listOfID2">{{ i.code }} {{i.ice }}</td>
      <td>{{ s.quantity }}</td>
      
      <td><button nz-button nzType="primary"><i nz-icon nzType="plus"></i></button></td>
    </tr>
  </tbody> 
</nz-table>